<nbm>
   <moduleType>autoload</moduleType>
   <codeNameBase>cz.sickboy.netbeans.libs.checkstyle</codeNameBase>
   <cluster>checkstyle</cluster>
   <author>Petr Hejl</author>
   <manifest>src/main/nbm/manifest.mf</manifest>
   <distributionUrl>http://www.sickboy.cz/checkstyle</distributionUrl>
   <licenseName>GNU LGPL, Version 2.1 and Apache License, Version 2.0</licenseName>
   <licenseFile>LICENSE.txt</licenseFile>
</nbm>